@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body { 
  padding: 0; 
  margin: 0; 
  background: #231A24;
  color: white;
  font: normal 12px "Lato";
}
// html {
// }

// #__nuxt {
// }
* {
  box-sizing: content-box;
}

div {
  scrollbar-color: darkGrey rgba(0, 0, 0, 0);
  scrollbar-width: thin;
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  cursor: pointer;
  transform: translateX(-20px);
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 5px;
}
}
